body {
    font-family: "Ubuntu", sans-serif !important;
    font-weight: 300;
    font-style: normal;
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: 'Arial', sans-serif;
    background: linear-gradient(to bottom, #f9f7f1, #e6dcd1);
    background-image: url('../img/comida.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    margin-top:  40px;
    border-radius: 10px;
    align-items: center;
    width: 80%;
    background-color: rgba(247, 255, 240, 0.863);
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 5px;
}

h1 {
    margin-bottom: 30px;
    font-weight: bold;
    border-radius: 30px;
    background-color: #b85c38;
    color: azure;
}

.btn-primary{
    background: #b85c38;
}

.btn-primary:hover{
    background: #341b11;
}

.border-primary{
    color: #b85c38;
}

#recipes .card {
    margin-bottom: 20px;
}
